* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  width: 6px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  border-radius: 20px;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 90%;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section .animate {
  transition: 1s;
  filter: blur(5px);
  opacity: 0;
}

section.show-animate .animate {
  filter: blur(0);
  opacity: 1;
}

#root {
  height: 100%;
}

header {
  padding: 15px 30px;
  background: url("../images/banner-1.jpg") no-repeat;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 98;
}
header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7333333333);
  z-index: -1;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
header nav .logo {
  width: 50px;
}
header nav .logo img {
  width: 100%;
  max-width: 100%;
}
header nav .nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
}
header nav .nav_links .links,
header nav .nav_links .social {
  display: flex;
  align-items: center;
}
header nav .nav_links .links {
  gap: 50px;
}
header nav .nav_links .links li a {
  color: #fff;
  font-size: 1.1rem;
  transition: 0.4s;
  position: relative;
  font-weight: bold;
}
header nav .nav_links .links li a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF324D;
  border-radius: 20px;
  transition: 0.5s;
}
header nav .nav_links .links li a:hover {
  color: #FF324D;
}
header nav .nav_links .links li a.active {
  color: #FF324D;
}
header nav .nav_links .links li a.active::after {
  width: 100%;
}
header nav .nav_links .social {
  gap: 30px;
}
header nav .nav_links .social > a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
header nav .nav_links .social > a:hover {
  border: none;
}
header nav .nav_links .social > a:hover::after {
  width: 100%;
  height: 100%;
}
header nav .nav_links .social > a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  transition: 0.5s;
  z-index: -1;
  border-radius: 50%;
}
header nav .nav_links .social > a .icon {
  color: #fff;
  font-size: 1rem;
}
header nav .nav_links .connect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  padding: 15px 25px;
  transition: 0.5s;
  border: 1px solid #95a5a6;
}
header nav .nav_links .connect:after {
  content: " ";
  width: 0;
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
header nav .nav_links .connect:hover {
  border: 1px solid #fff;
}
header nav .nav_links .connect:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
header nav .nav_links .connect:hover > span {
  color: #fff;
  animation: scaleUp 0.3s ease-in-out;
}
header nav .nav_links .connect span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: #95a5a6;
  font-size: 0.8rem;
  letter-spacing: 0.3em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
header nav .list {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
header .list_links {
  position: fixed;
  top: 0;
  left: -100%;
  width: 40%;
  height: 100vh;
  padding: 80px 10px 15px 30px;
  background: url("../images/banner-3.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 80px;
  transition: 0.6s;
}
header .list_links::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8666666667);
  z-index: -1;
}
header .list_links .logo_list {
  width: 80px;
}
header .list_links .logo_list img {
  width: 100%;
  max-width: 100%;
}
header .list_links .links_list {
  gap: 50px;
  display: flex;
  flex-direction: column;
}
header .list_links .links_list a {
  color: #fff;
  font-size: 1.8rem;
  transition: 0.5s;
  position: relative;
}
header .list_links .links_list a::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF324D;
  border-radius: 20px;
  transition: 0.5s;
}
header .list_links .links_list a.active {
  color: #FF324D;
}
header .list_links .links_list a.active::after {
  width: 100%;
}
header .list_links .social_cycle {
  display: flex;
  justify-content: center;
}
header .list_links .social_cycle .main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
header .list_links .social_cycle .main .up {
  display: flex;
  gap: 0.5em;
}
header .list_links .social_cycle .main .up .card1,
header .list_links .social_cycle .main .up .card2,
header .list_links .social_cycle .main .up .card3,
header .list_links .social_cycle .main .up .card4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .list_links .social_cycle .main .up .card1 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
header .list_links .social_cycle .main .up .card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}
header .list_links .social_cycle .main .up .card1:hover .linkedin {
  color: #fff;
}
header .list_links .social_cycle .main .up .card1 .linkedin {
  color: #0505c7;
  font-size: 30px;
  transition: 0.5s;
  margin-top: 0.5em;
  margin-left: 0.5em;
}
header .list_links .social_cycle .main .up .card2 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
header .list_links .social_cycle .main .up .card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #232525;
}
header .list_links .social_cycle .main .up .card2:hover .github {
  color: #fff;
}
header .list_links .social_cycle .main .up .card2 .github {
  color: #505050;
  font-size: 30px;
  transition: 0.5s;
  margin-top: 0.5em;
  margin-left: -0.5em;
}
header .list_links .social_cycle .main .down {
  display: flex;
  gap: 0.5em;
}
header .list_links .social_cycle .main .down .card3 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
header .list_links .social_cycle .main .down .card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #1f462f;
}
header .list_links .social_cycle .main .down .card3:hover .codepen {
  color: #fff;
}
header .list_links .social_cycle .main .down .card3 .codepen {
  color: #000;
  font-size: 30px;
  transition: 0.5s;
  margin-top: -0.5em;
  margin-left: 0.5em;
}
header .list_links .social_cycle .main .down .card4 {
  width: 90px;
  height: 90px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: 0.2s ease-in-out;
}
header .list_links .social_cycle .main .down .card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}
header .list_links .social_cycle .main .down .card4:hover .mail {
  color: #fff;
}
header .list_links .social_cycle .main .down .card4 .mail {
  color: #1010da;
  font-size: 30px;
  transition: 0.5s;
  margin-top: -0.5em;
  margin-left: -0.5em;
}
header .list_links .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #fff;
}
@media (max-width: 991px) {
  header nav .list {
    display: block;
  }
  header nav .nav_links {
    display: none;
  }
  header .list_links {
    width: 60%;
  }
}
@media (max-width: 600px) {
  header .list_links {
    width: 70%;
  }
}
@media (max-width: 500px) {
  header .list_links {
    width: 100%;
  }
}

header.scrolled {
  background: transparent;
}

.welcome {
  background: url("../images/banner-1.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 5;
}
.welcome::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7333333333);
  z-index: -1;
}
.welcome section .container {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 50px 0 90px;
}
.welcome section .container .info {
  color: #fff;
  padding: 0 20px;
}
.welcome section .container .info .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13rem;
  overflow: hidden;
  background-size: 300% 300%;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px;
  background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
}
.welcome section .container .info .btn #container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(1rem);
          backdrop-filter: blur(1rem);
  border-radius: 5rem;
}
.welcome section .container .info .btn strong {
  z-index: 2;
  font-size: 1rem;
  letter-spacing: 5px;
  color: #FFFFFF;
  text-shadow: 0 0 4px white;
}
.welcome section .container .info .btn #glow {
  position: absolute;
  display: flex;
  width: 12rem;
}
.welcome section .container .info .btn .circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}
.welcome section .container .info .btn .circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}
.welcome section .container .info .btn .circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}
.welcome section .container .info .btn .btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}
.welcome section .container .info .btn .btn:hover {
  transform: scale(1.1);
}
.welcome section .container .info .btn .btn:active {
  border: double 4px #FE53BB;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}
.welcome section .container .info .btn .btn:active .circle {
  background: #FE53BB;
}
.welcome section .container .info .btn #stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}
.welcome section .container .info .btn #stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}
.welcome section .container .info .btn #stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}
.welcome section .container .info .btn #stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}
.welcome section .container .info .btn #stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}
@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}
@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.welcome section .container .info h1 {
  margin: 40px 0;
  text-transform: capitalize;
  font-size: 2.5rem;
  height: 95px;
  opacity: 0;
  transition: 3s;
}
.welcome section .container .info h1 .wrap {
  color: #FF324D;
  transition: 3s;
}
.welcome section .container .info .about {
  overflow: hidden;
}
.welcome section .container .info .about p {
  line-height: 1.5rem;
  text-transform: capitalize;
  color: #bdc3c7;
  transform: translateY(-100%);
  transition: 1s;
}
.welcome section .container .info .lets_connect {
  position: relative;
  display: block;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  width: 14rem;
  margin-top: 30px;
  transform: translateX(-145%);
  transition: 1s;
  opacity: 0;
}
.welcome section .container .info .lets_connect:hover .circle {
  width: 100%;
}
.welcome section .container .info .lets_connect:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.welcome section .container .info .lets_connect:hover .button-text {
  color: #fff;
}
.welcome section .container .info .lets_connect .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(110deg, rgb(44, 32, 32) 0%, rgb(96, 24, 36) 20%, rgb(155, 43, 60) 50%, rgb(96, 24, 36) 80%, rgb(44, 32, 32) 100%);
  border-radius: 1.625rem;
}
.welcome section .container .info .lets_connect .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.welcome section .container .info .lets_connect .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.welcome section .container .info .lets_connect .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.welcome section .container .info .lets_connect .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  inset: 0;
  margin: 0 0 0 1.5em;
  color: #95a5a6;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome section .container .img {
  overflow: hidden;
  background-image: linear-gradient(to right, rgba(58, 181, 177, 0.768627451) 0%, rgba(61, 153, 190, 0.7607843137) 31%, rgba(85, 49, 122, 0.7529411765) 100%);
  border-radius: 47% 53% 64% 36%/35% 51% 49% 65%;
  animation: rotate 15s linear infinite alternate;
  opacity: 0;
  transition: 2s;
}
@keyframes rotate {
  0% {
    border-radius: 44% 56% 75% 25%/58% 55% 45% 42%;
  }
  25% {
    border-radius: 73% 27% 82% 18%/15% 73% 27% 85%;
  }
  50% {
    border-radius: 35% 65% 51% 49%/68% 34% 66% 32%;
  }
  75% {
    border-radius: 48% 52% 7% 93%/45% 53% 47% 55%;
  }
  100% {
    border-radius: 33% 67% 30% 70%/70% 8% 92% 30%;
  }
}
.welcome section .container .img img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -5px;
}
.welcome section.show-animate .container .info .btn,
.welcome section.show-animate .container .info .img,
.welcome section.show-animate .container .info h1 {
  opacity: 1;
}
.welcome section.show-animate .container .info .about p,
.welcome section.show-animate .container .info .lets_connect {
  transform: translate(0);
  opacity: 1;
}
.welcome section.show-animate .container .img {
  opacity: 1;
}
@media (max-width: 991px) {
  .welcome .container .info h1 {
    max-height: 160px;
  }
  .welcome .container .info .about {
    margin-top: 60px;
  }
}
@media (max-width: 868px) {
  .welcome .container {
    margin-bottom: 50px;
    flex-direction: column-reverse;
  }
  .welcome .container .img {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .welcome .container {
    margin-bottom: 80px;
    flex-direction: column-reverse;
  }
  .welcome .container .img {
    width: 90%;
  }
  .welcome .container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome .container .info h1 {
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 80px !important;
  }
  .welcome .container .info .btn strong {
    line-height: 1.5em;
  }
}
@media (max-width: 1300px) {
  .welcome .container .info h1 .wrap_meida {
    display: block;
  }
}
@media (max-width: 425px) {
  .welcome .container .info .about {
    margin-top: 80px;
  }
}
@media (max-width: 400px) {
  .welcome .container .info h1 .wrap_meida {
    height: 80px;
    margin: 15px 0;
  }
}

main .skills_sec .head,
main .project_sec .head,
main .contact_sec .head {
  overflow: hidden;
}
main .skills_sec .head h2,
main .project_sec .head h2,
main .contact_sec .head h2 {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  transform: translateY(-100%);
  transition: 0.8s;
}
main .skills_sec .head h2 span,
main .project_sec .head h2 span,
main .contact_sec .head h2 span {
  display: block;
  margin-top: 14px;
  font-size: 1.2rem;
  font-weight: normal;
  color: #95a5a6;
  line-height: 1.5em;
  text-transform: capitalize;
}
main .skills_sec::after,
main .project_sec::after,
main .contact_sec::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7333333333);
  z-index: -1;
}
main .skills_sec {
  background: url("../images/banner-2.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 18;
}
main .skills_sec .container {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4509803922);
  border-radius: 30px;
  color: #fff;
  transform: translateY(40px);
  position: relative;
  z-index: 9;
}
main .skills_sec .container .front_skills,
main .skills_sec .container .back_skills {
  width: 100%;
  margin: 30px 0;
  padding: 20px 0;
}
main .skills_sec .container .front_skills:hover .align-head .button .hover-text,
main .skills_sec .container .back_skills:hover .align-head .button .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
main .skills_sec .container .front_skills .align-head,
main .skills_sec .container .back_skills .align-head {
  display: flex;
  justify-content: center;
  margin: 50px auto;
  opacity: 0;
  transition: 1s;
}
main .skills_sec .container .front_skills .align-head .button,
main .skills_sec .container .back_skills .align-head .button {
  background: transparent;
  border: none;
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #34e7e4;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  position: relative;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
main .skills_sec .container .front_skills .align-head .button .hover-text,
main .skills_sec .container .back_skills .align-head .button .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
main .skills_sec .container .swiper {
  width: 100%;
  overflow: hidden;
  height: 100%;
}
main .skills_sec .container .swiper .slide-item {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}
main .skills_sec .container .swiper .slide-item h4 {
  font-size: 1.5rem;
  font-weight: bold;
}
main .skills_sec .container .swiper .slide-item .progress_bar {
  width: 150px;
  height: 150px;
}
main .skills_sec .container .swiper .swiper-button-prev,
main .skills_sec .container .swiper .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #000;
}
main .skills_sec .container .swiper .swiper-button-prev::after,
main .skills_sec .container .swiper .swiper-button-next::after {
  transform: translateX(-25%);
  line-height: 0;
  font-size: 1.2rem;
  color: #fff;
}
main .skills_sec .container .swiper .swiper-button-next::after {
  transform: translateX(10%);
}
main .skills_sec .container .back_skills .button {
  --animation-color: #3c40c6 !important;
}
main .skills_sec.show-animate .head h2 {
  transform: translate(0);
}
main .skills_sec.show-animate .container .front_skills .align-head,
main .skills_sec.show-animate .container .back_skills .align-head {
  opacity: 1;
}
main .project_sec {
  background: url("../images/banner-3.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 13;
  padding: 80px 0;
}
main .project_sec .container {
  margin-top: 180px;
}
main .project_sec .container .navigation {
  border: 1px solid #95a5a6;
  border-radius: 20px;
  width: 60%;
  overflow: hidden;
  margin: 15px auto;
  justify-content: center;
  align-items: center;
}
main .project_sec .container .navigation .nav-item {
  width: 50%;
}
main .project_sec .container .navigation .nav-item a {
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  position: relative;
  z-index: 1;
  text-align: center;
}
main .project_sec .container .navigation .nav-item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-image: linear-gradient(to top, rgba(244, 59, 71, 0.8274509804) 0%, rgba(68, 58, 148, 0.8078431373) 100%);
  z-index: -1;
  transition: 0.5s;
}
main .project_sec .container .navigation .nav-item .active::before {
  width: 100%;
}
main .project_sec .container .pro_con .pro_Boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 0;
}
main .project_sec .container .pro_con .pro_Boxes .box {
  border-radius: 20px;
  color: #fff;
  height: 220px;
  position: relative;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
  transition-delay: calc(0.3s * var(--d));
}
main .project_sec .container .pro_con .pro_Boxes .box:hover::after {
  height: 100%;
}
main .project_sec .container .pro_con .pro_Boxes .box:hover .over {
  transform: translateY(0);
  opacity: 1;
}
main .project_sec .container .pro_con .pro_Boxes .box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-image: linear-gradient(to top, rgba(244, 59, 71, 0.8274509804) 0%, rgba(68, 58, 148, 0.8078431373) 100%);
  transition: 0.5s;
}
main .project_sec .container .pro_con .pro_Boxes .box .over {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  transform: translateY(80px);
  opacity: 0;
  transition: 0.5s;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
}
main .project_sec .container .pro_con .pro_Boxes .box .over h5 {
  font-size: 2rem;
}
main .project_sec .container .pro_con .pro_Boxes .box .over a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ecf0f1;
  font-size: 1.2rem;
}
main .project_sec .container .pro_con .pro_Boxes .box .over a:hover .arrow_icon {
  animation: show 1s ease-in-out infinite alternate;
}
@keyframes show {
  0% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-10px);
  }
}
main .project_sec .container .pro_con .pro_Boxes .box img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media (max-width: 991px) {
  main .project_sec .container {
    margin-top: 250px;
  }
  main .project_sec .container .navigation {
    width: 80%;
  }
}
@media (max-width: 500px) {
  main .project_sec .container .navigation {
    width: 95%;
  }
}
@media (max-width: 300px) {
  main .project_sec .container .pro_con .pro_Boxes {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
  }
}
main .project_sec.show-animate .head h2 {
  transform: translate(0);
}
main .project_sec.show-animate .container .pro_con .pro_Boxes .box {
  opacity: 1;
}
main .contact_sec {
  padding: 80px 0;
  position: relative;
  z-index: 11;
  background: url("../images/banner-4.jpg") no-repeat center center fixed;
  background-size: cover;
}
main .contact_sec .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
main .contact_sec .container .img_con {
  width: 35%;
  opacity: 0;
  transition: 1s;
}
main .contact_sec .container .img_con img {
  width: 100%;
  max-width: 100%;
  animation: bounce 1.5s linear infinite alternate both;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}
main .contact_sec .container form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  overflow: hidden;
}
main .contact_sec .container form h3 {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  transform: translateY(-110%);
  transition: 0.5s;
}
main .contact_sec .container form .inputs_con {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .contact_sec .container form .inputs_con .name,
main .contact_sec .container form .inputs_con .data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
main .contact_sec .container form .inputs_con .name .box,
main .contact_sec .container form .inputs_con .data .box {
  width: calc(50% - 10px);
}
main .contact_sec .container form .inputs_con .name .box span,
main .contact_sec .container form .inputs_con .data .box span {
  color: #eb2f06;
  display: block;
  margin-top: 15px;
  text-align: center;
  transition: 0.5s;
}
main .contact_sec .container form .inputs_con .name .box input,
main .contact_sec .container form .inputs_con .data .box input {
  padding: 15px 20px;
  border: 1px solid #95a5a6;
  border-radius: 20px;
  outline: none;
  font-size: 1rem;
  background: transparent;
  color: #fff;
  transition: 1s;
  width: 100%;
}
main .contact_sec .container form .inputs_con .name .box input[placeholder="First Name"],
main .contact_sec .container form .inputs_con .name .box input[placeholder="Email Address"],
main .contact_sec .container form .inputs_con .data .box input[placeholder="First Name"],
main .contact_sec .container form .inputs_con .data .box input[placeholder="Email Address"] {
  transform: translateX(-110%);
}
main .contact_sec .container form .inputs_con .name .box input[placeholder="Last Name"],
main .contact_sec .container form .inputs_con .name .box input[placeholder="Phone No."],
main .contact_sec .container form .inputs_con .data .box input[placeholder="Last Name"],
main .contact_sec .container form .inputs_con .data .box input[placeholder="Phone No."] {
  transform: translateX(110%);
}
main .contact_sec .container form .inputs_con .box_area textarea {
  outline: none;
  padding: 15px 20px;
  border: 1px solid #95a5a6;
  border-radius: 20px;
  background-color: transparent;
  resize: none;
  color: #fff;
  font-size: 1rem;
  transition: 1s;
  transform: translateY(120%);
  width: 100%;
}
main .contact_sec .container form .inputs_con .box_area span {
  color: #eb2f06;
  display: block;
  margin-top: 15px;
  text-align: center;
  transition: 0.5s;
}
main .contact_sec .container form .send_btn {
  position: relative;
  z-index: 37;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  align-self: flex-start;
  transition: 1.5s;
  opacity: 0;
}
main .contact_sec .container form .send_btn::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .contact_sec .container form .send_btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  inset: 0;
  background-color: #000;
  transform: translate3d(0, 0, 0) scale(0.95);
}
main .contact_sec .container form .send_btn:hover::before {
  transform: rotate(-180deg);
}
@media (max-width: 1200px) {
  main .contact_sec .container {
    margin-top: 100px;
  }
  main .contact_sec .container form {
    width: 65%;
  }
}
@media (max-width: 768px) {
  main .contact_sec .container {
    margin-top: 50px;
    flex-direction: column;
    gap: 80px;
  }
  main .contact_sec .container .img_con {
    width: 100%;
  }
  main .contact_sec .container form {
    width: 100%;
  }
}
main .contact_sec.show-animate .container .img_con {
  opacity: 1;
}
main .contact_sec.show-animate .container form h3 {
  transform: translate(0);
}
main .contact_sec.show-animate .container form .inputs_con .name input[placeholder="First Name"],
main .contact_sec.show-animate .container form .inputs_con .name input[placeholder="Last Name"],
main .contact_sec.show-animate .container form .inputs_con .name input[placeholder="Email Address"],
main .contact_sec.show-animate .container form .inputs_con .name input[placeholder="Phone No."],
main .contact_sec.show-animate .container form .inputs_con .data input[placeholder="First Name"],
main .contact_sec.show-animate .container form .inputs_con .data input[placeholder="Last Name"],
main .contact_sec.show-animate .container form .inputs_con .data input[placeholder="Email Address"],
main .contact_sec.show-animate .container form .inputs_con .data input[placeholder="Phone No."] {
  transform: translate(0);
}
main .contact_sec.show-animate .container form .inputs_con textarea {
  transform: translate(0);
}
main .contact_sec.show-animate .container form .send_btn {
  opacity: 1;
}

footer {
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  background: url("../images/banner-4.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  z-index: 20;
}
footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8941176471);
  z-index: -1;
}
footer .logo {
  width: 50px;
}
footer .logo img {
  width: 100%;
  max-width: 100%;
}
footer .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
footer .info .social {
  display: flex;
  gap: 15px;
}
footer .info .social > a {
  border: 1px solid #fff;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
footer .info .social > a:hover {
  border: none;
}
footer .info .social > a:hover::after {
  width: 100%;
  height: 100%;
}
footer .info .social > a::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  transition: 0.5s;
  z-index: -1;
  border-radius: 50%;
}
footer .info .social > a .icon {
  color: #fff;
  font-size: 1rem;
}
footer .info p {
  color: #fff;
  text-transform: capitalize;
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}
.top-to-btm {
  position: relative;
}
.top-to-btm .icon-position {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 20;
}
.top-to-btm .icon-style {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  animation: move 0.8s infinite linear alternate;
}
.top-to-btm .icon-style:hover {
  animation: none;
  background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  color: #fff;
  border: 2px solid #fff;
}
@keyframes move {
  0% {
    transform: translateY(5px);
  }
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(20px);
  }
}

.loder {
  background-color: #000;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.loder .spinner_con {
  background-image: linear-gradient(rgb(186, 66, 255) 35%, rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}
.loder .spinner_con .spinner {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=home.css.map */